.root {
  display: flex;
  min-height: 100vh;
  background: #F5F7FA;
  font-family: 'DM Sans', sans-serif;
}

.main {
  flex: 1;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 64px;
  padding: 32px;
  flex: 1;
}